body {
  background-color: black;
  position: fixed;
}
.title {
  color: white;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  top: 30px;
  font-size: 15px;
  text-align: center;
}
.start {
  border: white;
  border-color: white;
  background-color: white;
  border-radius: 10px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  width: 100px;
  height: 48px;
  position: relative;
  top: 10px;
  left: 70px;
  font-size: 18px;
  z-index: 1;
  cursor: pointer;
}
.reset {
  border: white;
  border-color: white;
  background-color: white;
  border-radius: 10px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  width: 100px;
  height: 48px;
  position: relative;
  top: 10px;
  left: 85px;
  font-size: 18px;
  z-index: 1;
  cursor: pointer;
}
.card {
  background-color: #eb144c;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100vw;
  height: 300px;
  position: relative;
  top: 20px;
  z-index: 0px;
  left: 0px;
}
.white-card {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  height: 100px;
  position: relative;
  top: 11px;
  margin: auto;
  z-index: 0px;
}
.session {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  position: relative;
  top: 30px;
  text-align: center;
  color: white;
}
.start-icon {
  width: 16px;
  height: 16px;
  position: relative;
  right: 20px;
  text-align: center;
  z-index: 1;
  top: 13px;
}
.reset-icon {
  width: 16px;
  height: 16px;
  position: relative;
  top: 13px;
  left: -10px;
  text-align: center;
  z-index: 1;
}
.timer {
  font-size: 120px;
  text-align: center;
  color: white;
  position: relative;
  top: -18px;
}
.interval-container {
  display: flex;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  top: -30px;
  left: 0px;
}
.interval-length-container {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
  font-weight: bold;
  top: -20px;
  left: 8px;
  position: relative;
}
.btn {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: bold;
  padding: 5px 12px;
  margin: 0px 10px;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  width: 18px;
  height: 18px;
  position: relative;
  top: 0px;
  left: 19px;
  z-index: 0;
}
.img {
  width: 17px;
  height: 17px;
  z-index: 1;
  position: relative;
  left: -7px;
  top: -3px;
}
.interval-length {
  margin: 0px 10px;
  font-size: 17px;
  position: relative;
  left: 20px;
  top: 2px;
}
.length-content {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: bold;
  margin: 40px 30px;
  position: relative;
  left: -8px;
}
.wrapper {
  position: relative;
  left: 0px;
  top: -15px;
}
@media only screen and (min-width: 600px) {
  body {
    background-color: black;
    position: fixed;
    left: 425px;
    top: -40px;
  }
  .title {
    color: white;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    text-align: center;
    top: 50px;
    font-size: 20px;
  }
  .start {
    border: white;
    border-color: white;
    background-color: white;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    width: 130px;
    height: 48px;
    position: relative;
    top: 60px;
    left: 100px;
    font-size: 22px;
    text-align: center;
    z-index: 1;
  }
  .reset {
    border: white;
    border-color: white;
    background-color: white;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    width: 130px;
    height: 48px;
    position: relative;
    left: 110px;
    top: 60px;
    font-size: 22px;
    text-align: center;
    z-index: 1;
  }
  .card {
    background-color: #eb144c;
    border-radius: 50px;
    width: 500px;
    height: 400px;
    position: relative;
    top: 40px;
    margin: auto;
    z-index: 0px;
  }
  .white-card {
    background-color: white;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 500px;
    height: 150px;
    position: relative;
    top: 60px;
    margin: auto;
    z-index: 0px;
  }
  .session {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    position: relative;
    top: 50px;
    text-align: center;
  }
  .start-icon {
    width: 18px;
    height: 18px;
    position: relative;
    right: 20px;
    text-align: center;
    z-index: 1;
    top: 63px;
  }
  .reset-icon {
    width: 18px;
    height: 18px;
    position: relative;
    top: 63px;
    left: -10px;
    text-align: center;
    z-index: 1;
  }
  .interval-container {
    display: flex;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -9px;
    left: 0px;
  }
  .interval-length-container {
    display: flex;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bold;
    left: 66px;
    position: relative;
  }
  .btn {
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 12px;
    margin: 0px 10px;
    height: 25px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .interval-length {
    margin: 0px 10px;
    font-size: 25px;
  }
  .length-content {
    text-align: center;
    top: 17px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bold;
    margin: 40px 30px;
    position: relative;
  }
  .wrapper {
    position: relative;
    left: 7px;
    top: -15px;
  }
  .timer {
    font-size: 120px;
    text-align: center;
    color: white;
    position: relative;
    top: 20px;
  }
}
